.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: space-evenly;
  }

img {
  height: 200px;
  width: 200px;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

h1 {
  color: rgb(226, 43, 150);
  padding-left: 38%;
}
